# Exercise #1

After you develop your code to play Addition War and perform descriptive analysis using NumPy functionality (as in Homework #2), you realize that it's a bit inefficient to store all of the results in separate arrays. Let's utilize pandas to store and analyze the results of our simulated gameplay.


a.Before doing so, let's begin with some updates to your play function (corrected, or taken from the Homework #2 solutions, once provided; you will also need to make use of your deal function, but no changes will be needed):

- Add the capability to track the number of ties for each game. In this total, you should include not only the ties that occur at the beginning of a round, but any additional ties that occur during a tie breaker.
- Add the capability to track the largest total won during a round in a given game, which could occur in a standard round (with no ties) or a tiebreaker round (with one or more ties). You do not need to distinguish whether the total was won in a standard or tiebreaker round.
- Add the capability to play multiple games within the function, using a new argument games (equals 1 by default). The function should track the following statistics for each game, stored in a dictionary (ideally as separate entries, which will facilitate next steps):

     - Initial totals (i.e., sum of card values for initially dealt hands) for player 1 and player 2, respectively
     - Number of ties during gameplay
     - Maximum round total won (i.e., maximum sum of card values won during a round, potentially including                   tiebreakers)
     - Final totals (i.e., sum of card values after completing gameplay) for player 1 and player 2, respectively

Note that you do not need to explicitly track the outcome of the game (i.e., who wins or loses, or whether there was a tie). This will be determined at a later step.

Demonstrate the performance of your function for 1-game (games = 1) and 5-game samples (games = 5), and display the resultant dictionaries for each case .

In [1]:
import numpy as np
import random
deck=[]                      
for i in range(4):                 #create 1 to 13 four times
    for i in range(1,14):
        deck.append(i)
# Define function to deal cards to two players
def deal():
    # Initialize player hands
    p1 = []
    p2 = []
    
    # Initialize and shuffle deck
    deck = list(range(1, 14)) * 4
    np.random.shuffle(deck)
    
    # Deal cards to each player
    for i in range(len(deck)):
        if i % 2:
            p2.append(deck.pop(0))
        else:
            p1.append(deck.pop(0))
            
    return p1, p2
def play(games=1): 
    initial_total1=[]
    initial_total2=[]
    final_total1=[]
    final_total2=[]
    num_ties=[]
    largest_total_won=[]
    for m in range(games):
        hand1,hand2=deal()
        score1=0
        score2=0
        i=1
        player1_round=[]                                
        player2_round=[]
        player1_cards=[]
        player2_cards=[]
        ties=0
        total_won=[]
        while i <=13:                                   #totally 13 rounds
            player1_round.append(hand1[i*2-2])          #player#_round used to record scores for each round
            player1_round.append(hand1[i*2-1])
            player2_round.append(hand2[i*2-2])
            player2_round.append(hand2[i*2-1])
            player1_cards.append(hand1[i*2-2])          #player#_cards used to record cards for each round
            player1_cards.append(hand1[i*2-1])
            player2_cards.append(hand2[i*2-2])
            player2_cards.append(hand2[i*2-1])
            sum1=sum(player1_round)                     #calculate the sum of the 2 cards of one roung for each player                  
            sum2=sum(player2_round)
            score=sum1+sum2                             #calculate the score for this round
            total_won.append(score)
            if sum1>sum2:                               #if player1 wins this round, add the score to score1
                score1+=score
                i+=1
                player1_round=[]                        #clean the list to record the next round
                player2_round=[]

            elif sum1<sum2:                             #same as the condition of sum1>sum2 
                score2+=score
                i+=1
                player1_round=[]
                player2_round=[]
            else:                                       #if ties for this round, just go to the next round and doesn't clean
                ties+=1
                if i <13:                               #the list so that next round still contain cards for this round
                    i+=1
                else:                                   #if the final round ties, return cards to each player
                    i+=1
                    score1+=sum1
                    score2+=sum2                  
        if score1>score2:                               #define the final winner
            winner='player1'
        elif score1<score2:
            winner='player2' 
        else:
            winner='Tie'
        initial_total1.append(sum(hand1))
        initial_total2.append(sum(hand2))
        largest_total_won.append(max(total_won))
        num_ties.append(ties)
        final_total1.append(score1)
        final_total2.append(score2)
    S={'Initial_value_totals_for_p1':initial_total1,'Initial_value_totals_for_p2':initial_total2,'Number_of_ties':num_ties,'Largest_total_won':largest_total_won,'Final_value_totals_for_p1':final_total1,'Final_value_totals_for_p2':final_total2}
        
    return S

In [2]:
#Demonstrate the performance of function for 1-game (games = 1) 
play(1)

{'Initial_value_totals_for_p1': [187],
 'Initial_value_totals_for_p2': [177],
 'Number_of_ties': [1],
 'Largest_total_won': [43],
 'Final_value_totals_for_p1': [179],
 'Final_value_totals_for_p2': [185]}

In [3]:
#Demonstrate the performance of function for 5-game (games = 5) 
play(5)

{'Initial_value_totals_for_p1': [171, 174, 174, 176, 199],
 'Initial_value_totals_for_p2': [193, 190, 190, 188, 165],
 'Number_of_ties': [2, 0, 0, 1, 1],
 'Largest_total_won': [72, 36, 38, 62, 69],
 'Final_value_totals_for_p1': [133, 193, 175, 183, 197],
 'Final_value_totals_for_p2': [231, 171, 189, 181, 167]}

b.Simulate 1000 games and store your results in a pandas DataFrame. Preview the first and last 10 rows of your results as proof of a successful run.

In [4]:
#Simulate 1000 games and store your results in a pandas DataFrame. 
import pandas as pd
df=pd.DataFrame(play(1000),index=range(1,1001))
df.index.names=['Game']

In [5]:
#Preview the first 10 rows of your results.
df.head(10)

,Initial_value_totals_for_p1,Initial_value_totals_for_p2,Number_of_ties,Largest_total_won,Final_value_totals_for_p1,Final_value_totals_for_p2
Game,,,,,,
1,178,186,0,36,159,205
2,168,196,3,72,125,239
3,163,201,5,110,80,284
4,194,170,2,62,166,198
5,153,211,0,38,106,258
6,181,183,0,42,152,212
7,183,181,0,43,185,179
8,163,201,1,51,108,256
9,176,188,1,71,204,160
10,168,196,0,43,124,240

In [6]:
#Preview the last 10 rows of your results.
df.tail(10)

,Initial_value_totals_for_p1,Initial_value_totals_for_p2,Number_of_ties,Largest_total_won,Final_value_totals_for_p1,Final_value_totals_for_p2
Game,,,,,,
991,187,177,1,55,111,253
992,179,185,0,44,150,214
993,219,145,1,67,230,134
994,192,172,0,41,166,198
995,198,166,0,46,239,125
996,202,162,0,42,241,123
997,197,167,0,39,220,144
998,171,193,0,44,95,269
999,198,166,1,60,202,162
1000,205,159,1,52,255,109

c.Given your DataFrame of simulated game results, let's determine the outcome of each game, based on the final player totals. Add a new column to your DataFrame ('outcome') that contains the value 'Player 1 wins' if Player 1's final total is higher, 'Player 2 wins' if Player 2's final total is higher, or 'Tie game' if the two player's final totals are equal. In addition, add new columns for the winning total ('winning_total') and losing total ('losing_total'), which contain the final totals for the winning and losing players, respectively, and missing values (NumPy.nan) for tie games. (2 points)

Preview the first 10 rows of your modified DataFrame. Then, summarize the frequency of the three outcomes and display the rows in your DataFrame that contain the 'Tie game' outcomes. Finally, produce descriptive statistics (e.g., minimum, mean, standard deviation, maximum) for your winning total column, and display the rows in your DataFrame that contain the top 10 winning totals. (1 point)

In [7]:
#Add new columns
df.loc[df['Final_value_totals_for_p1'] > df['Final_value_totals_for_p2'], 'outcome'] = 'Player 1 wins'
df.loc[df['Final_value_totals_for_p1'] < df['Final_value_totals_for_p2'], 'outcome'] = 'Player 2 wins'
df.loc[df['Final_value_totals_for_p1'] == df['Final_value_totals_for_p2'], 'outcome'] = 'Tie game'
import numpy as np
def functionwin(a, b):
    if a == b:
        return np.nan
    else:
        return max(a,b)
def functionlose(a, b):
    if a == b:
        return np.nan
    else:
        return min(a,b)
df['winning_total'] = df.apply(lambda x:functionwin(x.Final_value_totals_for_p1,x.Final_value_totals_for_p2), axis = 1)
df['losing_total'] = df.apply(lambda x:functionlose(x.Final_value_totals_for_p1,x.Final_value_totals_for_p2), axis = 1)

In [8]:
#Preview the first 10 rows of the modified DataFrame
df.head(10)

,Initial_value_totals_for_p1,Initial_value_totals_for_p2,Number_of_ties,Largest_total_won,Final_value_totals_for_p1,Final_value_totals_for_p2,outcome,winning_total,losing_total
Game,,,,,,,,,
1,178,186,0,36,159,205,Player 2 wins,205.0,159.0
2,168,196,3,72,125,239,Player 2 wins,239.0,125.0
3,163,201,5,110,80,284,Player 2 wins,284.0,80.0
4,194,170,2,62,166,198,Player 2 wins,198.0,166.0
5,153,211,0,38,106,258,Player 2 wins,258.0,106.0
6,181,183,0,42,152,212,Player 2 wins,212.0,152.0
7,183,181,0,43,185,179,Player 1 wins,185.0,179.0
8,163,201,1,51,108,256,Player 2 wins,256.0,108.0
9,176,188,1,71,204,160,Player 1 wins,204.0,160.0
10,168,196,0,43,124,240,Player 2 wins,240.0,124.0

In [9]:
#Summarize the frequency of the three outcomes 
frequency=df['outcome'].value_counts()
frequency

Player 1 wins    500
Player 2 wins    491
Tie game           9
Name: outcome, dtype: int64

In [10]:
#Display the rows in your DataFrame that contain the 'Tie game' outcomes
df[df['outcome']=='Tie game']

,Initial_value_totals_for_p1,Initial_value_totals_for_p2,Number_of_ties,Largest_total_won,Final_value_totals_for_p1,Final_value_totals_for_p2,outcome,winning_total,losing_total
Game,,,,,,,,,
181,188,176,0,46,182,182,Tie game,NaN,NaN
217,192,172,0,37,182,182,Tie game,NaN,NaN
270,195,169,0,43,182,182,Tie game,NaN,NaN
626,181,183,0,42,182,182,Tie game,NaN,NaN
642,183,181,1,58,182,182,Tie game,NaN,NaN
694,164,200,2,77,182,182,Tie game,NaN,NaN
695,183,181,0,44,182,182,Tie game,NaN,NaN
758,183,181,1,67,182,182,Tie game,NaN,NaN
813,182,182,0,40,182,182,Tie game,NaN,NaN

In [11]:
#Produce descriptive statistics for winning total column
df['winning_total'].describe()

count    991.000000
mean     226.730575
std       31.054938
min      183.000000
25%      202.000000
50%      221.000000
75%      249.500000
max      352.000000
Name: winning_total, dtype: float64

In [12]:
#Display the rows in the DataFrame that contain the top 10 winning totals.
df.sort_values(by=['winning_total'], ascending=False).head(10)

,Initial_value_totals_for_p1,Initial_value_totals_for_p2,Number_of_ties,Largest_total_won,Final_value_totals_for_p1,Final_value_totals_for_p2,outcome,winning_total,losing_total
Game,,,,,,,,,
765,141,223,0,40,12,352,Player 2 wins,352.0,12.0
628,210,154,1,66,350,14,Player 1 wins,350.0,14.0
766,148,216,1,61,37,327,Player 2 wins,327.0,37.0
840,158,206,2,72,40,324,Player 2 wins,324.0,40.0
551,143,221,1,67,48,316,Player 2 wins,316.0,48.0
460,153,211,0,36,51,313,Player 2 wins,313.0,51.0
510,142,222,0,38,52,312,Player 2 wins,312.0,52.0
672,198,166,2,53,310,54,Player 1 wins,310.0,54.0
543,199,165,0,41,309,55,Player 1 wins,309.0,55.0
44,203,161,0,44,307,57,Player 1 wins,307.0,57.0

d.Given your DataFrame of simulated game results, calculate the frequency of the number of ties within each game (i.e., the number of rounds in which a tie occurs). Then, calculate the mean maximum round total as a function of the number of ties. What do you observe about the relationship between the number of ties and the mean maximum round total?

In [13]:
#Calculate the frequency of the number of ties within each game
df['Number_of_ties'].value_counts()

0    516
1    350
2    111
3     18
5      3
4      2
Name: Number_of_ties, dtype: int64

In [14]:
#Calculate the mean maximum round total as a function of the number of ties
def mean_max_round_total(Number_of_ties):
    mean=df.loc[df['Number_of_ties'] ==Number_of_ties , 'Largest_total_won'].mean()
    return mean

In [15]:
print({'Number of ties = 0, the mean is':mean_max_round_total(0)})
print({'Number of ties = 1, the mean is':mean_max_round_total(1)})
print({'Number of ties = 2, the mean is':mean_max_round_total(2)})
print({'Number of ties = 3, the mean is':mean_max_round_total(3)})
print({'Number of ties = 4, the mean is':mean_max_round_total(4)})

{'Number of ties = 0, the mean is': 40.34496124031008}
{'Number of ties = 1, the mean is': 55.62}
{'Number of ties = 2, the mean is': 64.66666666666667}
{'Number of ties = 3, the mean is': 71.22222222222223}
{'Number of ties = 4, the mean is': 66.5}

When the number of ties within each game increases, the mean maximum round total also increases. They two are positive correlated.